{% extends 'base_member.html' %}

{% block active2 %} 
active
{% endblock %}

{% block title %}
器材查詢
{% endblock %}

{% block content %}
    <!--搜尋器材框 BEGIN-->
    <div class="container border rounded shadow-lg p-3 mb-5 bg-white" style="margin-bottom:2%; margin-top:2%">
        <form  action="" method="POST" class="row">
        {% csrf_token %}
        <div class="col-md-auto">
            <label class="form-label" style="font-size: 25px;">學校</label>
            <select  class="form-select"  name="school" style="font-size: 20px;">
                <option value="1">國立中央大學</option>
                <option value="2">國立陽明交通大學</option>
                <option value="3">國立清華大學</option>
                <option value="4">國立政治大學</option>
            </select>
        </div>
        <div class="col col-lg-2">
            <label class="form-label" style="font-size: 25px;">用途</label>
            <select class="form-select" name="usage" style="font-size: 20px;">
                <option value="會議">會議</option>
                <option value="運動">運動</option>
            </select>
        </div>
        <div class="col-md-auto">
            <label class="form-label" style="font-size: 25px;">選擇租借日期</label>
            <input class="form-control" type="date" aria-label="Search" name="date" id="date" Required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="btn btn-success" type="submit" value="搜尋" style="margin-top:2%"/>
        </div>
        </form>
    </div>
    <!--搜尋器材框 END-->
    
    <!--顯示可預約器材 BEGIN-->
    <div class="container">
        <div class="row">
        
            {% for obj in not_rented_equipment %}
                <div class="col-3">
                    <div class="card" style="width: 80%;">
                        <div class="card-header text-center">
                            <img src=/media/{{ obj.image }} height="45%"  width="60%">
                        </div>
                        <div class="card-body" style="margin-left : 2%">
                            <h1 class="card-title  text-center" style="margin-bottom:10%">{{ obj.name }}</h1>
                            <h5 class="card-text">用途:{{ obj.usage }}</h4>
                            <h5 class="card-text">剩餘數量:{{ obj.number }}</h4>
                            <h5 class="card-text">租借價格:{{ obj.price }} /單次</h4>
                            <h5 class="card-text">繳費地點:{{ obj.department_id }}</h4>
                            <h5 class="card-text">歸還地點:{{ obj.department_id }}</h4>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn-lg btn-block" style="width : 95%" data-toggle="modal" data-target="#rentalRule{{obj.id}}">預約</button>
                        </div>
                    </div>
                </div>
                
                <!--閱讀租借規則與輸入租借數量MODAL BEGIN-->
                    <div class="modal fade" id="rentalRule{{obj.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLongTitle">請詳細閱讀租借規則!</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <form  action="{% url 'rental:display_reserve_equipment' %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {{obj.rule}}
                                    <hr>
                                    <label>請輸入欲租借數量</label>
                                    <input class="form-control" type="number" name="number" min="1" max={{ obj.number }} Required>
                                    <input type="hidden" name="reserve_equipment_id" value="{{obj.id}}" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <input class="btn btn-primary" type="submit" value="確定預約" />
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                <!--閱讀租借規則與輸入租借數量MODAL END-->
                {% if forloop.counter|divisibleby:4 %}</div><div class="row" style="margin-top : 5%">{% endif %}
            {% endfor %}

            {% for obj in condition_query_set %}
                        <div class="col-3">
                            <div class="card" style="width: 80%;">
                                <div class="card-header text-center">
                                    <img src=/media/{{ obj.equipment_id__image }} height="45%"  width="60%">
                                </div>
                                <div class="card-body" style="margin-left : 2%">
                                    <h1 class="card-title  text-center" style="margin-bottom:10%">{{ obj.equipment_id__name }}</h1>
                                    <h5 class="card-text">用途:{{ obj.equipment_id__usage }}</h4>
                                    <h5 class="card-text">剩餘數量:{{ obj.equ_remaining_number }}</h4>
                                    <h5 class="card-text">租借價格:{{ obj.equipment_id__price }} /單次</h4>
                                    <h5 class="card-text">繳費地點:{{ obj.equipment_id__department_id__address }}</h4>
                                    <h5 class="card-text">歸還地點:{{ obj.equipment_id__department_id__address }}</h4>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" style="width : 95%" data-toggle="modal" data-target="#rentalRule{{obj.equipment_id__id}}">預約</button>
                                </div>
                            </div>
                        </div>
                        <!--閱讀租借規則與輸入租借數量MODAL BEGIN-->
                            <div class="modal fade" id="rentalRule{{obj.equipment_id__id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h2 class="modal-title" id="exampleModalLongTitle">請詳細閱讀租借規則!</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form  action="{% url 'rental:display_reserve_equipment' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            {{obj.obj.equipment_id__rule}}
                                            <hr>
                                            <label>請輸入欲租借數量</label>
                                            <input class="form-control" type="number" name="number" min="1" max={{ obj.equ_remaining_number }} Required>
                                            <input type="hidden" name="reserve_equipment_id" value="{{obj.equipment_id__id}}" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <input class="btn btn-primary" type="submit" value="確定預約" />
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                         <!--閱讀租借規則與輸入租借數量MODAL END-->
                {% if forloop.counter|divisibleby:4 %}</div><div class="row" style="margin-top : 5%">{% endif %}
            {% endfor %}


        </div>
    </div>
    <!--顯示可預約器材 END-->

{% endblock  %}